In [60]:
import pandas as pd

# ETL: National Olympic Committees (NOCs)

In [95]:
# import countries competing in Olympics
regions = pd.read_csv("../dat/01_noc_regions.csv")

# drop extraneous country columns
regions = regions.drop(['notes'], axis=1)

# show Olympic countries
print(regions.shape)
regions.head()

(230, 2)

   NOC       region
0  AFG  Afghanistan
1  AHO      Curacao
2  ALB      Albania
3  ALG      Algeria
4  AND      Andorra

# ETL: Host Cities of the Olympic Games

In [66]:
# print host country committees
hosts = pd.read_csv("../dat/02_host_cities.csv")
print(hosts.shape)
hosts

(42, 2)

                 Host City Host Country
0                Barcelona          ESP
1                   London          GBR
2                Antwerpen          BEL
3                    Paris          FRA
4                  Calgary          CAN
5              Albertville          FRA
6              Lillehammer          NOR
7              Los Angeles          USA
8           Salt Lake City          USA
9                 Helsinki          FIN
10             Lake Placid          USA
11                  Sydney          AUS
12                 Atlanta          USA
13               Stockholm          SWE
14                   Sochi          RUS
15                  Nagano          JPN
16                  Torino          ITA
17                 Beijing          CHN
18          Rio de Janeiro          BRA
19                  Athina          GRE
20            Squaw Valley          USA
21               Innsbruck          SUI
22                Sarajevo          YUG
23             Mexico City          MEX
24                  Munich          GER
25                   Seoul          KOR
26                  Berlin          GER
27                    Oslo          NOR
28       Cortina d'Ampezzo          ITA
29               Melbourne          AUS
30                    Roma          ITA
31               Amsterdam          NED
32                Montreal          CAN
33                  Moskva          URS
34                   Tokyo          JPN
35               Vancouver          CAN
36                Grenoble          FRA
37                 Sapporo          JPN
38                Chamonix          FRA
39               St. Louis          USA
40            Sankt Moritz          SUI
41  Garmisch-Partenkirchen          GDR

# ETL: Olympic Athletes & Events

In [97]:
# import list of athletes competing in events
games = pd.read_csv("../dat/03_athlete_events.csv")

# merge host countries
games = games.merge(hosts, left_on='City', right_on='Host City')

# drop extraneous athlete and event columns
games = games.drop(['ID',
                          'Team',
                          'City',
                          'Host City'], axis = 1)
games = games.sort_values(by = 'Games')

# show athletes and events
print(games.shape)
games.head()

(271116, 13)

,Name,Sex,Age,Height,Weight,NOC,Games,Year,Season,Sport,Event,Medal,Host Country
159877,Alphonse Grisel,M,NaN,NaN,NaN,FRA,1896 Summer,1896,Summer,Gymnastics,Gymnastics Men's Parallel Bars,NaN,GRE
159038,Marie Lon Flameng,M,18.0,NaN,NaN,FRA,1896 Summer,1896,Summer,Cycling,Cycling Men's Sprint,Bronze,GRE
159037,"Edwin Harold ""Teddy"" Flack",M,22.0,NaN,NaN,AUS,1896 Summer,1896,Summer,Athletics,Athletics Men's Marathon,NaN,GRE
159036,"Edwin Harold ""Teddy"" Flack",M,22.0,NaN,NaN,AUS,1896 Summer,1896,Summer,Athletics,"Athletics Men's 1,500 metres",Gold,GRE
159035,"Edwin Harold ""Teddy"" Flack",M,22.0,NaN,NaN,AUS,1896 Summer,1896,Summer,Athletics,Athletics Men's 800 metres,Gold,GRE

In [98]:
games['Host Country'].unique()

array(['GRE', 'FRA', 'USA', 'GBR', 'SWE', 'BEL', 'NED', 'SUI', 'GER',
       'GDR', 'FIN', 'NOR', 'AUS', 'ITA', 'JPN', 'MEX', 'CAN', 'URS',
       'YUG', 'KOR', 'ESP', 'CHN', 'RUS', 'BRA'], dtype=object)

In [99]:
games['NOC'].unique()

array(['FRA', 'AUS', 'GRE', 'GBR', 'GER', 'ITA', 'USA', 'AUT', 'DEN',
       'HUN', 'SUI', 'SWE', 'NED', 'BEL', 'ESP', 'NOR', 'RUS', 'BOH',
       'MEX', 'CAN', 'CUB', 'ARG', 'HAI', 'PER', 'IND', 'ROU', 'NZL',
       'IRI', 'LUX', 'COL', 'BRA', 'RSA', 'NFL', 'FIN', 'CRT', 'EGY',
       'TUR', 'ANZ', 'ISL', 'JPN', 'CHI', 'POR', 'UNK', 'POL', 'SRB',
       'TCH', 'YUG', 'MON', 'EST', 'URU', 'IRL', 'LAT', 'PHI', 'BUL',
       'LTU', 'ECU', 'NEP', 'MLT', 'ZIM', 'PAN', 'CHN', 'GUA', 'VEN',
       'ESA', 'LIE', 'AFG', 'BER', 'BOL', 'CRC', 'PAK', 'JAM', 'IRQ',
       'KOR', 'SRI', 'LIB', 'PUR', 'TTO', 'MYA', 'GUY', 'SGP', 'SYR',
       'URS', 'SAA', 'VNM', 'GHA', 'ISR', 'THA', 'HKG', 'AHO', 'BAH',
       'NGR', 'INA', 'KEN', 'UGA', 'MAL', 'ETH', 'FIJ', 'TPE', 'CAM',
       'NBO', 'LBR', 'UAR', 'WIF', 'SUD', 'MAR', 'TUN', 'SMR', 'RHO',
       'MAS', 'ZAM', 'MGL', 'SEN', 'CGO', 'TAN', 'CIV', 'ALG', 'CHA',
       'MLI', 'MAD', 'DOM', 'NIG', 'CMR', 'PRK', 'GDR', 'FRG', 'NCA',
       'BIZ', 'ISV', 'BAR', 'GUI', 'HON', 'KUW', 'PAR', 'SLE', 'COD',
       'CAF', 'SUR', 'LBA', 'ALB', 'MAW', 'LES', 'SOM', 'TOG', 'BEN',
       'SWZ', 'KSA', 'GAB', 'BUR', 'ANT', 'PNG', 'AND', 'CAY', 'MOZ',
       'BOT', 'CYP', 'LAO', 'SEY', 'JOR', 'VIE', 'ANG', 'GRN', 'BRN',
       'QAT', 'GEQ', 'SAM', 'GAM', 'MTN', 'IVB', 'TGA', 'BHU', 'MRI',
       'OMA', 'UAE', 'YAR', 'SOL', 'BAN', 'DJI', 'RWA', 'GUM', 'VAN',
       'YMD', 'COK', 'MDV', 'ARU', 'ASA', 'VIN', 'EUN', 'CRO', 'YEM',
       'SLO', 'IOA', 'BIH', 'NAM', 'CZE', 'UKR', 'SVK', 'BLR', 'KAZ',
       'KGZ', 'UZB', 'GEO', 'ARM', 'MDA', 'NRU', 'TKM', 'SCG', 'TJK',
       'LCA', 'AZE', 'MKD', 'DMA', 'SKN', 'BDI', 'STP', 'CPV', 'COM',
       'GBS', 'PLE', 'BRU', 'FSM', 'PLW', 'ERI', 'KIR', 'TLS', 'TUV',
       'MHL', 'MNE', 'ROT', 'KOS', 'SSD'], dtype=object)

# ETL: Pickle DataFrames

In [100]:
# save dataframe
athletes.to_pickle('../dat/games.pkl')