In [21]:
import pandas  as pd
import sqlite3

# Olympic Athletes & Events: ETL

In [22]:
# import countries competing in Olympics
noc_regions = pd.read_csv("../dat/noc_regions.csv")

# drop extraneous country columns
noc_regions = noc_regions.drop(['notes'], axis=1)

# show Olympic countries
print(noc_regions.shape)
noc_regions.head()

(230, 2)

   NOC       region
0  AFG  Afghanistan
1  AHO      Curacao
2  ALB      Albania
3  ALG      Algeria
4  AND      Andorra

In [25]:
# import list of athletes competing in events
athlete_events = pd.read_csv("../dat/athlete_events.csv")

#drop extraneous athlete and event columns
athlete_events = athlete_events.drop(['ID','Team'], axis=1)

# show athletes and events
print(athlete_events.shape)
athlete_events.head()

(271116, 13)

,Name,Sex,Age,Height,Weight,NOC,Games,Year,Season,City,Sport,Event,Medal
0,A Dijiang,M,24.0,180.0,80.0,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,A Lamusi,M,23.0,170.0,60.0,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,Edgar Lindenau Aabye,M,34.0,NaN,NaN,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,Christine Jacoba Aaftink,F,21.0,185.0,82.0,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN