In [9]:
import pandas               as     pd
import numpy                as     np
from   sklearn.linear_model import LinearRegression

# Linear Regression

In [8]:
games = pd.read_pickle('../dat/games.pkl')
games.head()

,Name,Sex,Age,Height,Weight,NOC,Games,Year,Season,Sport,Event,Medal,Host Country
159877,Alphonse Grisel,M,NaN,NaN,NaN,FRA,1896 Summer,1896,Summer,Gymnastics,Gymnastics Men's Parallel Bars,NaN,GRE
159038,Marie Lon Flameng,M,18.0,NaN,NaN,FRA,1896 Summer,1896,Summer,Cycling,Cycling Men's Sprint,Bronze,GRE
159037,"Edwin Harold ""Teddy"" Flack",M,22.0,NaN,NaN,AUS,1896 Summer,1896,Summer,Athletics,Athletics Men's Marathon,NaN,GRE
159036,"Edwin Harold ""Teddy"" Flack",M,22.0,NaN,NaN,AUS,1896 Summer,1896,Summer,Athletics,"Athletics Men's 1,500 metres",Gold,GRE
159035,"Edwin Harold ""Teddy"" Flack",M,22.0,NaN,NaN,AUS,1896 Summer,1896,Summer,Athletics,Athletics Men's 800 metres,Gold,GRE

In [ ]:
X =

In [ ]:
reg = LinearRegression().fit(X, y)
reg.score(X, y)
reg.coef_
array([1., 2.])
reg.intercept_ 
3.0000...
reg.predict(np.array([[3, 5]]))
array([16.])