In [1]:
from   sklearn.preprocessing   import MinMaxScaler
from   sklearn.linear_model    import LinearRegression
from   sklearn.metrics         import mean_squared_error, r2_score
import pandas                  as     pd
import numpy                   as     np
import seaborn                 as     sns
import matplotlib.pyplot       as     plt

# Dummy Encoding

In [2]:
medals = pd.read_pickle('../dat/medals.pkl')
medals.head()

,Year,Summer,Games,Host,NOC,Region,Athletes,Females,Sports,Events,Medals,Golds,Silvers,Bronzes
0,1896,1,1896 Summer,0,AUS,Australia,5,0,2,5,3,2,0,1
1,1896,1,1896 Summer,0,AUT,Austria,8,0,3,8,5,2,1,2
2,1896,1,1896 Summer,0,DEN,Denmark,15,0,5,12,6,1,2,3
3,1896,1,1896 Summer,0,FRA,France,26,0,6,18,11,5,4,2
4,1896,1,1896 Summer,0,GBR,UK,25,0,7,19,9,3,3,3

In [3]:
# create dummy variables
model = pd.get_dummies(data=medals, columns=['NOC'])
model.head()

,Year,Summer,Games,Host,Region,Athletes,Females,Sports,Events,Medals,...,NOC_VIE,NOC_VIN,NOC_VNM,NOC_WIF,NOC_YAR,NOC_YEM,NOC_YMD,NOC_YUG,NOC_ZAM,NOC_ZIM
0,1896,1,1896 Summer,0,Australia,5,0,2,5,3,...,0,0,0,0,0,0,0,0,0,0
1,1896,1,1896 Summer,0,Austria,8,0,3,8,5,...,0,0,0,0,0,0,0,0,0,0
2,1896,1,1896 Summer,0,Denmark,15,0,5,12,6,...,0,0,0,0,0,0,0,0,0,0
3,1896,1,1896 Summer,0,France,26,0,6,18,11,...,0,0,0,0,0,0,0,0,0,0
4,1896,1,1896 Summer,0,UK,25,0,7,19,9,...,0,0,0,0,0,0,0,0,0,0

In [23]:
# Correlation
NOC_medal_correlations = model.corr()
NOC_medal_correlations = NOC_medal_correlations[['Medals','Golds','Silvers','Bronzes']]
#NOC_medal_correlations = NOC_medal_correlations.abs()
NOC_medal_correlations = NOC_medal_correlations.sort_values(by='Medals', ascending=False)
NOC_medal_correlations.head(50)

            Medals     Golds   Silvers   Bronzes
Medals    1.000000  0.933208  0.925465  0.910814
Golds     0.933208  1.000000  0.787451  0.761291
Silvers   0.925465  0.787451  1.000000  0.791388
Bronzes   0.910814  0.761291  0.791388  1.000000
Athletes  0.843252  0.731369  0.801421  0.818615
Events    0.728245  0.621348  0.684731  0.728202
Females   0.715589  0.629688  0.662149  0.701756
Sports    0.611403  0.503231  0.588675  0.620934
NOC_USA   0.387638  0.443014  0.328241  0.278849
Host      0.327053  0.314088  0.322436  0.265433
NOC_URS   0.291143  0.304181  0.248457  0.244779
NOC_GER   0.166104  0.136326  0.150710  0.178922
NOC_GDR   0.143118  0.136796  0.137060  0.121257
NOC_RUS   0.133160  0.105770  0.122720  0.146036
NOC_GBR   0.115434  0.089079  0.124853  0.110545
NOC_EUN   0.097179  0.107237  0.071182  0.086620
Summer    0.096085  0.076739  0.092344  0.100833
NOC_FRA   0.093610  0.057562  0.096330  0.114041
NOC_CHN   0.083507  0.071287  0.088039  0.073415
NOC_ITA   0.083111  0.070739  0.078862  0.082576
NOC_SWE   0.077063  0.054798  0.078390  0.085144
NOC_FRG   0.075812  0.046022  0.074071  0.097294
NOC_AUS   0.066529  0.035167  0.069277  0.087706
NOC_CAN   0.064554  0.053074  0.061003  0.066852
NOC_HUN   0.047956  0.047444  0.037098  0.047834
NOC_NED   0.043154  0.022841  0.041285  0.060702
NOC_NOR   0.040154  0.037637  0.043638  0.029529
NOC_JPN   0.039417  0.019722  0.040260  0.054250
NOC_FIN   0.031089  0.005636  0.024132  0.063805
NOC_KOR   0.026163  0.022306  0.031283  0.019138
NOC_CUB   0.022266  0.025101  0.019637  0.015643
NOC_ROU   0.017956  0.002867  0.013733  0.037575
NOC_BRA   0.015987  0.001030  0.020829  0.026381
NOC_TCH   0.014753 -0.006844  0.032192  0.020875
NOC_DEN   0.014359  0.007163  0.024837  0.009070
NOC_SUI   0.012166 -0.000487  0.016288  0.021277
NOC_UKR   0.011472  0.001892  0.004980  0.027928
NOC_POL   0.008776 -0.006960  0.010606  0.025206
NOC_YUG   0.007699  0.005892  0.018529 -0.003318
NOC_SRB   0.004954 -0.003050  0.005441  0.013653
NOC_ESP   0.004419 -0.007128  0.024198 -0.002444
NOC_ANZ   0.003109  0.011641 -0.003147 -0.002257
NOC_CZE   0.003012  0.000066 -0.002276  0.011674
NOC_BLR   0.002243 -0.006508  0.001352  0.014064
NOC_CRO   0.000548  0.003115  0.002580 -0.005095
NOC_SCG   0.000389 -0.004598  0.003518  0.003520
NOC_BEL  -0.001508 -0.012198  0.008366  0.002462
NOC_WIF  -0.002856 -0.004403 -0.005362  0.002538
NOC_UAR  -0.004453 -0.004403 -0.003794 -0.004076
NOC_KOS  -0.004985 -0.003139 -0.005362 -0.005730

# Time-Based Train / Test Split

In [24]:
y = pd.DataFrame(model['Medals'])
y.head()

   Medals
0       3
1       5
2       6
3      11
4       9

In [25]:
X = model.drop(['Medals','Games','Golds','Silvers','Bronzes','Region'], axis=1)
X.head()

,Year,Summer,Host,Athletes,Females,Sports,Events,NOC_AFG,NOC_AHO,NOC_ALB,...,NOC_VIE,NOC_VIN,NOC_VNM,NOC_WIF,NOC_YAR,NOC_YEM,NOC_YMD,NOC_YUG,NOC_ZAM,NOC_ZIM
0,1896,1,0,5,0,2,5,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1896,1,0,8,0,3,8,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1896,1,0,15,0,5,12,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1896,1,0,26,0,6,18,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1896,1,0,25,0,7,19,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# Scaling
scaler = MinMaxScaler()
scaler.fit(X)
scaler.transform(X)

# Linear Regressor Model

In [26]:
# Create linear regression object
regr = LinearRegression()

In [27]:
# Train the model using the training sets
regr.fit(X[['Year','Summer','Host','Athletes','Females','Sports','Events']], y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [28]:
# Make predictions using the testing set
y_pred = pd.DataFrame(regr.predict(X), columns=['Prediction'])
y_pred['Prediction'] = y_pred['Prediction'].astype('int64')
y_pred.head()

ValueError: shapes (3837,237) and (7,1) not aligned: 237 (dim 1) != 7 (dim 0)

In [ ]:
y['Prediction'] = y_pred['Prediction']
y['NOC']        = medals['NOC']
y['Error']      = y['Medals'] - y['Prediction']
y               = y.sort_values(by='Medals', ascending=False)
y

# Validation on Test Set

In [ ]:
X.columns

In [ ]:
# The coefficients
features = pd.DataFrame(regr.coef_.T, columns=['Coefficients'])
features['Feature'] = X.columns.T
features = features.sort_values(by='Coefficients', ascending=False)
features

In [ ]:
regr.intercept_

In [ ]:
regr.score(X,y)

In [ ]:
# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % r2_score(y, y_pred))

In [ ]:
# The mean squared error
print("Mean squared error: %.2f" % np.sqrt(mean_squared_error(y, y_pred)))

# Prediction of 2020 Tokyo Olympics

In [ ]:
# Plot outputs
plt.figure(figsize = (10,6))
sns.set_style("whitegrid")
plt.scatter(X['Events'], y, c='navy', alpha=0.6)
plt.plot(X['Events'], y_pred, color='red', linewidth=3)
plt.show()