In [5]:
from   sklearn.model_selection import train_test_split
from   sklearn.preprocessing   import MinMaxScaler
from   sklearn.linear_model    import LinearRegression
from   sklearn.metrics         import mean_squared_error, r2_score
import pandas                  as     pd
import numpy                   as     np
import seaborn                 as     sns
import matplotlib.pyplot       as     plt

# Dummy Encoding

In [6]:
medals = pd.read_pickle('../dat/medals.pkl')
medals.head()

,Year,Summer,Games,Host,NOC,Region,Athletes,Females,Sports,Events,Medals,Golds,Silvers,Bronzes
0,1896,1,1896 Summer,0,AUS,Australia,5,0,2,5,3,2,0,1
1,1896,1,1896 Summer,0,AUT,Austria,8,0,3,8,5,2,1,2
2,1896,1,1896 Summer,0,DEN,Denmark,15,0,5,12,6,1,2,3
3,1896,1,1896 Summer,0,FRA,France,26,0,6,18,11,5,4,2
4,1896,1,1896 Summer,0,GBR,UK,25,0,7,19,9,3,3,3

In [7]:
# create dummy variables
model = pd.get_dummies(data=medals, columns=['NOC'])
model.head()

,Year,Summer,Games,Host,Region,Athletes,Females,Sports,Events,Medals,...,NOC_VIE,NOC_VIN,NOC_VNM,NOC_WIF,NOC_YAR,NOC_YEM,NOC_YMD,NOC_YUG,NOC_ZAM,NOC_ZIM
0,1896,1,1896 Summer,0,Australia,5,0,2,5,3,...,0,0,0,0,0,0,0,0,0,0
1,1896,1,1896 Summer,0,Austria,8,0,3,8,5,...,0,0,0,0,0,0,0,0,0,0
2,1896,1,1896 Summer,0,Denmark,15,0,5,12,6,...,0,0,0,0,0,0,0,0,0,0
3,1896,1,1896 Summer,0,France,26,0,6,18,11,...,0,0,0,0,0,0,0,0,0,0
4,1896,1,1896 Summer,0,UK,25,0,7,19,9,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# Correlation

# Train Test Split

In [3]:
y = pd.DataFrame(model['Medals'])
y.head()

NameError: name 'model' is not defined

In [ ]:
X = model.drop(['Medals','Games','Golds','Silvers','Bronzes','Region'], axis=1)
X.head()

In [ ]:
# Scaling
scaler = MinMaxScaler()
scaler.fit(X)
scaler.transform(X)

# Linear Regression

In [ ]:
# Create linear regression object
regr = LinearRegression()

In [ ]:
# Train the model using the training sets
regr.fit(X[['Year','Summer','Host','Athletes','Females','Sports','Events']], y)

In [ ]:
# Make predictions using the testing set
y_pred = pd.DataFrame(regr.predict(X), columns=['Prediction'])
y_pred['Prediction'] = y_pred['Prediction'].astype('int64')
y_pred.head()

In [ ]:
y['Prediction'] = y_pred['Prediction']
y['NOC']        = medals['NOC']
y['Error']      = y['Medals'] - y['Prediction']
y               = y.sort_values(by='Medals', ascending=False)
y

# Validation on Test Set

In [ ]:
X.columns

In [ ]:
# The coefficients
features = pd.DataFrame(regr.coef_.T, columns=['Coefficients'])
features['Feature'] = X.columns.T
features = features.sort_values(by='Coefficients', ascending=False)
features

In [ ]:
regr.intercept_

In [ ]:
regr.score(X,y)

In [ ]:
# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % r2_score(y, y_pred))

In [ ]:
# The mean squared error
print("Mean squared error: %.2f" % np.sqrt(mean_squared_error(y, y_pred)))

# Validation with 2016 Rio Olympics

# Prediction of 2020 Tokyo Olympics

In [ ]:
# Plot outputs
plt.figure(figsize = (10,6))
sns.set_style("whitegrid")
plt.scatter(X['Events'], y, c='navy', alpha=0.6)
plt.plot(X['Events'], y_pred, color='red', linewidth=3)
plt.show()